<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.lswq" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>



    <bean id="zookeeperClient" class="com.lswq.app.util.ZookeeperClientUtil">
        <property name="servers" value="192.168.15.190:2181" />
        <property name="mainPath" value="/configuration/mmap" />
    </bean>
    
	<!-- 引入配置文件 -->
    <bean id="zooKeeperPropertyPlaceholderConfigurer" class="com.lswq.app.util.ZooKeeperPropertyPlaceholderConfigurer">
        <property name="configurationClient" ref="zookeeperClient" />
        <property name="scanBasePackage" value="com.lswq.app.util.spring" />
        <property name="order" value="1" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>

    <bean id="myFilter" class="com.lswq.app.filter.RequestFilter"></bean>

    <import resource="spring-persistent.xml" />
	<import resource="spring-redis.xml"/>

</beans>